{{/* Normalize relative Markdown image paths to the current content section. */}}
{{- $src := .Destination -}}
{{- $isRemote := or (strings.HasPrefix $src "http://") (strings.HasPrefix $src "https://") -}}
{{- if and (not $isRemote) (not (strings.HasPrefix $src "/")) -}}
  {{- $src = printf "/%s/%s" .Page.Section (strings.TrimPrefix "./" $src) -}}
{{- end -}}
<figure>
  <img
    src="{{ $src | relURL }}"
    alt="{{ .Text }}"
    {{ with .Title }}title="{{ . }}"{{ end }}
    loading="lazy"
    decoding="async"
  />
  {{ with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
